<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books Lib</title>
    </head>
    <style>
    .page{
        background-color: black;
        height: 100vh;
        width: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;

    }
    .main{
        height: 800px;
        width: 800px;
        margin:auto auto;

        background-color: white;
    }

</style>

    <body class="page">
        <div class="main">
            <form method="POST" action>
                {% csrf_token %}
                <input type="text" name="username" id="title"
                    placeholder="Enter the username">
                <input type="password" name="password" id="title"
                    placeholder="Enter the password">
                <input type="submit">
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </body>
</html>