{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Lib</title>
</head>
<style>
    .page{
        height: 100vh;
        width: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;

    }
    .main{
        height: 800px;
        width: 800px;
        margin:auto auto;

        background-color: white;
    }
    .hide{
        display:none;
    }

</style>

<body class="page">
    <div class="main">
        {% if request.user.is_authenticated %}
            <a href={% url 'users:logout'  %} >Logout</a>
        {% endif %}
        <ul>
            {% for book in books %}
                <li><a href={% url 'book:details' book.id  %}>{{book.title}}</a></li>
            {% endfor %}
        </ul>


        <a href={% url 'book:create_category' %} >Create Category </a>
        <a href={% url 'book:create_book' %} >Create Book </a>


        <img 
            src="{% static 'images/img.jpg' %}" 
            alt="image"
            height="200px"
            width="200px" 
            id="image" 
        />
    </div>

   
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>